* {
    box-sizing: border-box;
}

:root {
    --orange: #fab77c;
    background-color: var(--orange);
}

body {
    display: flex;
    flex-direction: column;
    color:rgba(0,0,0,.6);
    width:100%;
    min-height:100vh;
    text-align: center;
    align-items: center;
}

/* TEST */
/* .results-container > * {
    border: solid 1px;
} */

h2 {
    display: flex;
    flex-direction: column;

}

a {
    color:rgba(0,0,0,.9)
}

.results-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    flex:auto;
    padding: 5px;
    width: min(100%, 960px);
}

.player-choice, .computer-choice {
    height:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.player-choice:empty::after {
    content: 'Click a button below to play';
}

.selection-icon {
    font-size:8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:5px;
}
.selection-icon::after {
    font-size: 1.1rem;
}

.round-results,
.game-results,
.button-container,
.scores {
    grid-column: span 2;
}

.button-container button {
    border: none;
    padding: 5px 10px;
    background-color: rgba(0,0,0,.7);
    color: var(--orange);
    letter-spacing: 1px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.scores {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    height: 60px;
}

.round-results, .game-results {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-results::before {
    content: 'Game Results:';
    margin:5px;
}

footer {
    align-self: start;
    padding:10px;
}
